<div class="language-switcher">
  {{ $currentPage := . }}
  {{ range .Site.Languages }}
    {{ $langCode := .Lang }}
    
    {{ if eq $langCode $currentPage.Language.Lang }}
      <!-- Current language -->
      <a href="#" class="active">{{ .LanguageName }}</a>
    {{ else }}
      <!-- Try to find a translation of this specific page -->
      {{ $hasTranslation := false }}
      {{ range $currentPage.Translations }}
        {{ if eq .Language.Lang $langCode }}
          {{ $hasTranslation = true }}
          <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
      {{ end }}
      
      <!-- If no translation exists, go to language home -->
      {{ if not $hasTranslation }}
        {{ $langPrefix := "" }}
        {{ if ne $langCode "en" }}
          {{ $langPrefix = printf "/%s" $langCode }}
        {{ end }}
        <a href="{{ $langPrefix }}/">{{ .LanguageName }}</a>
      {{ end }}
    {{ end }}
  {{ end }}
</div>