<div class="language-switcher">
  {{ $currentPage := . }}
  {{ $currentLang := $currentPage.Language.Lang }}
  
  {{ range .Site.Languages }}
    {{ $targetLang := .Lang }}
    
    {{ if eq $targetLang $currentLang }}
      <span class="active">{{ .LanguageName }}</span>
    {{ else }}
      {{ $targetURL := "" }}
      
      {{ if $currentPage.IsHome }}
        {{ $targetURL = printf "/%s/" $targetLang }}
      {{ else if $currentPage.IsSection }}
        {{ $section := $currentPage.Section }}
        {{ $targetURL = printf "/%s/%s/" $targetLang $section }}
      {{ else if $currentPage.IsPage }}
        {{ $section := $currentPage.Section }}
        {{ $fileName := $currentPage.File.ContentBaseName }}
        {{ $targetURL = printf "/%s/%s/%s/" $targetLang $section $fileName }}
      {{ else }}
        {{ $pathWithoutLang := strings.TrimPrefix (printf "/%s" $currentLang) $currentPage.RelPermalink }}
        {{ $targetURL = printf "/%s%s" $targetLang $pathWithoutLang }}
      {{ end }}
      
      <a href="{{ $targetURL }}">{{ .LanguageName }}</a>
    {{ end }}
  {{ end }}
</div>